n8n/lead-qualification-workflow.json
{"name":"AI Lead Qualification","nodes":[{"parameters":{"httpMethod":"POST","path":"qualify-lead","responseMode":"responseNode"},"id":"1","name":"Lead Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/v1/leads/qualify","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json.body || $json) }}"},"id":"2","name":"Qualify Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"3","name":"Return Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[480,0]}],"connections":{"Lead Webhook":{"main":[[{"node":"Qualify Lead","type":"main","index":0}]]},"Qualify Lead":{"main":[[{"node":"Return Result","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"}}
